[submodule "git_edits/projectile"]
	path = git_edits/projectile
	url = https://github.com/gse4me/projectile.git
[submodule "git_edits/emacs-git-gutter"]
	path = git_edits/emacs-git-gutter
	url = https://github.com/gse4me/emacs-git-gutter.git
